In [1]:
import pandas as pd
path="student-mat.csv"
data=pd.read_csv(path,delimiter=';')

In [11]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [3]:
data.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [4]:
data.shape

(395, 33)

In [63]:
x=np.array(data.iloc[:,:-1])
y=np.array(data.iloc[:,-1])

Based on all other factors, we predict the student's grade 3 (G3).

We must encode all the non-numeric values into numeric values in order to perform mathematical predictions.

In [16]:
non_numeric_columns = data.select_dtypes(exclude=['number']).columns.tolist()
non_numeric_columns

['school',
 'sex',
 'address',
 'famsize',
 'Pstatus',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic']

In [30]:
for col in non_numeric_columns:
    print(f'{col}-->{set(data[col])}')

school-->{'MS', 'GP'}
sex-->{'M', 'F'}
address-->{'R', 'U'}
famsize-->{'LE3', 'GT3'}
Pstatus-->{'A', 'T'}
Mjob-->{'at_home', 'teacher', 'other', 'health', 'services'}
Fjob-->{'at_home', 'teacher', 'other', 'health', 'services'}
reason-->{'course', 'other', 'home', 'reputation'}
guardian-->{'father', 'other', 'mother'}
schoolsup-->{'no', 'yes'}
famsup-->{'no', 'yes'}
paid-->{'no', 'yes'}
activities-->{'no', 'yes'}
nursery-->{'no', 'yes'}
higher-->{'no', 'yes'}
internet-->{'no', 'yes'}
romantic-->{'no', 'yes'}

-------------------------------------------------------------------------------<br>
encoding:<br>
yes=1, no=0<br>
M=1 , F=0<br>
MS=0 ,GP=1<br>
R=1, U=0 <br>
LE3=3 , GT3=4 <br>
A=1 , T=0 <br>
at_home= 1, teacher= 2,other=0 , health=3 ,services=4 <br>
course=1 , other=0 , home=3 , reputation=3 <br>
father= 1, other=0 , mother= 0<br>
-------------------------------------------------------------------------------<br>

In [60]:
MLRCopy=data.copy()
MLRCopy.replace(['yes', 'no'], [1, 0], inplace=True) #BINARY ENCODING
MLRCopy.replace(['M', 'F'], [1, 0], inplace=True) #BINARY ENCODING
one_hot_encoded = pd.get_dummies(MLRCopy['school'], prefix='school') #one hot encoding
MLRCopy = pd.concat([one_hot_encoded, MLRCopy.drop('school', axis=1)], axis=1)
MLRCopy.replace(['R', 'U'], [1, 0], inplace=True) #BINARY ENCODING
MLRCopy.replace(['LE3', 'GT3'], [3, 4], inplace=True) #LABEL ENCODING
MLRCopy.replace(['A', 'T'], [1, 0], inplace=True) #BINARY ENCODING
MLRCopy.replace(['at_home', 'teacher', 'other','health','services'], [1,2,0,3,4], inplace=True) #custom encoding
MLRCopy.replace(['course','home','reputation'], [1,2,3], inplace=True)#custom encoding
MLRCopy.replace(['father', 'mother'], [1, 0], inplace=True) #custom encoding

In [61]:
MLRCopy

,school_GP,school_MS,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,0,0,18,0,4,1,4,4,1,...,4,3,4,1,1,3,6,5,6,6
1,1,0,0,17,0,4,0,1,1,1,...,5,3,3,1,1,3,4,5,5,6
2,1,0,0,15,0,3,0,1,1,1,...,4,3,2,2,3,3,10,7,8,10
3,1,0,0,15,0,4,0,4,2,3,...,3,2,2,1,1,5,2,15,14,15
4,1,0,0,16,0,4,0,3,3,0,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,1,1,20,0,3,1,2,2,4,...,5,5,4,4,5,4,11,9,9,9
391,0,1,1,17,0,3,0,3,1,4,...,2,4,5,3,4,2,3,14,16,16
392,0,1,1,21,1,4,0,1,1,0,...,5,5,3,3,3,3,3,10,8,7
393,0,1,1,18,1,3,0,3,2,4,...,4,4,1,3,4,5,0,11,12,10
394,0,1,1,19,0,3,0,1,1,0,...,3,2,3,3,3,5,5,8,9,9

FINDING CORRELATIONS OF EACH COLUMN WITH G3 TO DROP COLUMNS WITH WEAK CORRELATION

In [62]:
correlation_matrix = MLRCopy.corr()['G3']
correlation_matrix

school_GP     0.045017
school_MS    -0.045017
sex           0.103456
age          -0.161579
address      -0.105756
famsize      -0.081407
Pstatus       0.058009
Medu          0.217147
Fedu          0.152457
Mjob          0.144675
Fjob          0.030317
reason        0.062688
guardian      0.032493
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
schoolsup    -0.082788
famsup       -0.039157
paid          0.101996
activities    0.016100
nursery       0.051568
higher        0.182465
internet      0.098483
romantic     -0.129970
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

In [72]:
cnt=0
for col,value in correlation_matrix.items():
    if abs(value)<0.1:
        cnt+=1
        print(f'{col} has a weak correlation with G3 ({value})')
print(cnt)

school_GP has a weak correlation with G3 (0.04501694311330662)
school_MS has a weak correlation with G3 (-0.0450169431133066)
famsize has a weak correlation with G3 (-0.08140710977255441)
Pstatus has a weak correlation with G3 (0.05800898495931118)
Fjob has a weak correlation with G3 (0.03031683289918259)
reason has a weak correlation with G3 (0.06268800074399833)
guardian has a weak correlation with G3 (0.032493220399946676)
studytime has a weak correlation with G3 (0.09781968965319622)
schoolsup has a weak correlation with G3 (-0.08278821499316352)
famsup has a weak correlation with G3 (-0.039157145237904846)
activities has a weak correlation with G3 (0.016099701295814218)
nursery has a weak correlation with G3 (0.051567900910917605)
internet has a weak correlation with G3 (0.09848337126072897)
famrel has a weak correlation with G3 (0.0513634288812822)
freetime has a weak correlation with G3 (0.011307240308312975)
Dalc has a weak correlation with G3 (-0.0546600405667359)
Walc has a weak correlation with G3 (-0.05193932374224616)
health has a weak correlation with G3 (-0.06133460487712118)
absences has a weak correlation with G3 (0.03424731615006925)
19

# MUTIPLE LINEAR REGRESSION

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
x=np.array(data.iloc[:,:-1])
y=np.array(data.iloc[:,-1])
model=LinearRegression()
model.fit(x,y)
intercept=model.intercept_
coeffs=model.coef_
y_pred=model.predict(x)
mse=mean_squared_error(y,y_pred)
rmse= pow(mse,0.5)
print(f'RMSE = {rmse}')