In [58]:
import pandas as pd
path="D:/labs/ML/project/code/dataset/xAPI-Edu-Data.csv"
RawData=pd.read_csv(path,delimiter=',')
RawData

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [59]:
selectedColumns=['raisedhands','VisITedResources','AnnouncementsView','Discussion','ParentAnsweringSurvey','StudentAbsenceDays','ParentschoolSatisfaction','Class']
data=RawData[selectedColumns]
data

,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,StudentAbsenceDays,ParentschoolSatisfaction,Class
0,15,16,2,20,Yes,Under-7,Good,M
1,20,20,3,25,Yes,Under-7,Good,M
2,10,7,0,30,No,Above-7,Bad,L
3,30,25,5,35,No,Above-7,Bad,L
4,40,50,12,50,No,Above-7,Bad,M
...,...,...,...,...,...,...,...,...
475,5,4,5,8,No,Above-7,Bad,L
476,50,77,14,28,No,Under-7,Bad,M
477,55,74,25,29,No,Under-7,Bad,M
478,30,17,14,57,No,Above-7,Bad,L
479,35,14,23,62,No,Above-7,Bad,L

In [60]:
data['StudentAbsenceDays'].unique()
data.replace({'Under-7':0,'Above-7':1},inplace=True)
data.replace({'No':0,'Yes':1},inplace=True)
data.replace({'M':1,'L':0,'H':2},inplace=True)
data.replace({'Good':1,'Bad':0},inplace=True)
data

C:\Users\Harika\AppData\Local\Temp\ipykernel_18592\1765689210.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace({'Under-7':0,'Above-7':1},inplace=True)
C:\Users\Harika\AppData\Local\Temp\ipykernel_18592\1765689210.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace({'No':0,'Yes':1},inplace=True)
C:\Users\Harika\AppData\Local\Temp\ipykernel_18592\1765689210.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace({'M':1,'L':0,'H':2},inplace=True)
C:\Users\Harika\AppData\Local\Temp\ipykernel_18592\1765689210.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace({'Good':1,'Bad':0},inplace=True)

,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,StudentAbsenceDays,ParentschoolSatisfaction,Class
0,15,16,2,20,1,0,1,1
1,20,20,3,25,1,0,1,1
2,10,7,0,30,0,1,0,0
3,30,25,5,35,0,1,0,0
4,40,50,12,50,0,1,0,1
...,...,...,...,...,...,...,...,...
475,5,4,5,8,0,1,0,0
476,50,77,14,28,0,0,0,1
477,55,74,25,29,0,0,0,1
478,30,17,14,57,0,1,0,0
479,35,14,23,62,0,1,0,0

## LOGISTIC REGRESSION

In [61]:
logCopy=data.copy()
x=logCopy.iloc[:,:-1]
y=logCopy.iloc[:,-1]
x

,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,StudentAbsenceDays,ParentschoolSatisfaction
0,15,16,2,20,1,0,1
1,20,20,3,25,1,0,1
2,10,7,0,30,0,1,0
3,30,25,5,35,0,1,0
4,40,50,12,50,0,1,0
...,...,...,...,...,...,...,...
475,5,4,5,8,0,1,0
476,50,77,14,28,0,0,0
477,55,74,25,29,0,0,0
478,30,17,14,57,0,1,0
479,35,14,23,62,0,1,0

In [62]:
Features=(logCopy.columns.tolist())
Features.remove('Class')
Target=logCopy['Class']
print(Target)

0      1
1      1
2      0
3      0
4      1
      ..
475    0
476    1
477    1
478    0
479    0
Name: Class, Length: 480, dtype: int64

In [63]:
from sklearn.model_selection  import train_test_split 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=52)
model = LogisticRegression(solver='liblinear')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
Score = accuracy_score(y_test,y_pred)
Report = classification_report(y_test,y_pred)

In [64]:
print(y_pred)

[0 1 0 0 1 0 2 2 1 1 1 0 2 0 2 0 2 1 2 1 2 2 0 0 2 0 2 1 2 0 1 2 0 2 1 1 0
 1 2 0 1 1 2 1 2 0 1 0 1 0 2 2 1 2 1 0 1 0 0 2 0 2 1 1 1 2 0 0 2 1 2 2 2 2
 2 2 1 2 2 2 0 2 1 1 0 1 1 2 1 2 0 1 1 2 2 2]

In [65]:
print(Score)

0.7916666666666666

## MULTIPLE LINEAR REGRESSION